header .jumbotron{
    background:none;
    color: white;
    margin-top: 50px;
}

body{
    background: linear-gradient(#0B1569,rgb(170, 170, 19));
}z

.card-hotel{
    flex: 1 150px;
    padding: 2px 2.5px 2px 2.5px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 2px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

footer{
    background:none;
    color:black;
    padding: 10px 10px 0 10px;    
    margin-bottom: 0px;
    margin-top: 10px;
}

footer a{
    color:rgb(17, 0, 255);
}

.tab-content{
    padding-top: 5px;
}